<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ course.title }}</title>
</head>
<body>
    <p><a href="{% url 'index' %}">← На главную</a></p>
    <hr>
    <h1>Курс: {{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <hr>

    <h2>Список занятий курса:</h2>
    <ul>
        {% for lesson in lessons %}
            <li style="margin-bottom: 10px;">
                <a href="{% url 'lesson_detail' lesson.id %}" style="font-size: 16px; font-weight: bold;">
                    {{ lesson.title }}
                </a>
                — <span>{{ lesson.get_type_display }}</span>
            </li>
        {% empty %}
            <p style="color: gray;">В этом курсе пока нет занятий.</p>
        {% endfor %}
    </ul>
</body>
</html>